.crx_mouse_visited {
    background-clip: #bcd5eb!important;
    outline: 1px dashed #e9af6e!important;
}

.crx_highlight {
    outline: 2px solid #e9af6e!important;
}

.pointer-crosshair{
    cursor: crosshair;
}